<!-- views/partials/footer.ejs -->
<!-- Footer Section -->

<section id="footerSection">
  <div class="footer">
    <div class="footerContent">
      <h1>GrandVoyage</h1>
      <p>
        Experience unforgettable luxury and comfort with breathtaking views and
        personalized services.
      </p>
    </div>
    <div class="footerContent">
      <h1>our link</h1>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">blogs</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
    <div class="footerContent">
      <h1>Our services</h1>
      <ul>
        <li><a href="#">Hotels</a></li>
        <li><a href="#">Restaurant</a></li>
        <li><a href="#">Concierge</a></li>
        <li><a href="#">Room Service</a></li>
      </ul>
    </div>
    <div class="footerContent">
      <h1>Menu</h1>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact us</a></li>
        <li>
          <button class="footerBuynow" type="submit">Book Now</button>
        </li>
      </ul>
    </div>
    <div class="footerContent">
      <h1>Recent News</h1>
      <ul>
        <li><a href="#">Awards 2025</a></li>
        <li><a href="#">New Spa Opened</a></li>
        <li><a href="#">Chef's Special Week</a></li>
        <li><a href="#">Eco Update</a></li>
      </ul>
    </div>
  </div>

  <!-- CopyRight Section -->
  <div class="copyright">
    <div class="copyrightContent">
      2025 © GrandVoyage Developed by
      <span class="Developer"> Ali Hassan</span>
    </div>
  </div>
</section>
