<div class="navbar">
  <div class="nav">
    <div class="nav_title">
      <img src="./Fav/favicon.ico" alt="" srcset="" />
      <h1>GrandVoyage</h1>
    </div>
    <div class="nav_items">
      <a href="/">Home</a>
      <a href="/about">About us</a>
      <a href="/blogs">Blogs</a>
      <a href="/news">News</a>
      <a href="/feedback">Feedback</a>
      <a href="/contact">Contact us</a>
      <a href="/admin/login">Admin</a>
      <i class="menu-icon ph ph-list"></i>
    </div>
  </div>
</div>

<!-- side navbar -->
<div class="mobile-nav">
  <div class="mob-nav">
    <div class="nav-close-icon">
      <i class="close-icon ph ph-x"></i>
      <!-- <i class="close-icon ph ph-list"></i> -->
    </div>
    <div class="mob-items">
      <a href="/">Home</a>
      <a href="/about">About us</a>
      <a href="/blogs">Blogs</a>
      <a href="/news">News</a>
      <a href="/feedback">Feedback</a>
      <a href="/contact">Contact us</a>
      <a href="/admin/login">Admin</a>
    </div>
  </div>
</div>
